@model IEnumerable<mf_dev_back_end.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Lista de carros</h1>

    <p class="align-self-end">
        <a class="btn btn-primary" asp-action="Create">Adicionar carro <i class="bi bi-plus-circle"></i> </a>
    </p>

</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plate)
            </td>
            <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i> Editar</a> |
                    <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.Id"> <i class="bi bi-info-square"></i> Detalhes</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"> <i class="bi bi-trash"></i> Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
